{% extends 'admin/common/base.html' %}
{% import "admin/macros/_patination.html" as page_macros %}
{% block content %}
<div class="container">
    <div class="row">
        <div>
        <h3>抓取日志列表</h3>
        </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">搜索引擎</th>
                <th scope="col">ip</th>
                <th scope="col">抓取路径</th>
                <th scope="col">抓取时间</th>
              </tr>
            </thead>
            <tbody>
              {% for l in logs.items %}
              <tr>
                <th scope="row">{{l.id}}</th>
                <td>{{ l.remark }}</td>
                <td>{{ l.ip }}</td>
                <td>{{ l.url }}</td>
                <td>{{l.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                    
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {{ page_macros.pagination_widget(logs, 'admin.access_logs') }}
</div>
{% endblock %}