{% extends 'admin/common/base.html' %}
{% block content %}
<form method="post" role="form">
    {{ editUserForm.hidden_tag() }}
    <div class="col-xs-12 col-sm-8">
        <!-- 错误信息form提示 -->
        {% for field_name, field_errors in editUserForm.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ editUserForm[field_name].label }}错误：</strong> {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
        <!-- 错误信息form提示 end -->
        <div class="form-group row">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
            {{ editUserForm.username(class="form-control", placeholder="用户名",required="", autofocus="") }}
        </div>
        <div class="form-group row">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i> </span>
            {{ editUserForm.email(class="form-control", placeholder="邮 箱", required="") }}
        </div>
        <div class="form-group row">
            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i> </span>
            {{ editUserForm.role(class="form-control", required="") }}
        </div>
        <div class="form-group row">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tree-deciduous"></i> </span>
            {{ editUserForm.status(class="form-control", required="") }}
        </div>
        <div class="modal-footer">
            <input class="btn btn-default" type="reset" value="重 置">
            {{ editUserForm.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>

{% endblock %}