{% extends 'common/base.html' %}
{% import "macros/_flash.html" as flash_macros %}
{% block title %}注册会员-何三笔记{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2">
                    <h3 class="my-1 text-info">注册</h3>
                </div>
                <div class="card-body card-login">


                    <form class="signup" id="signup_form" method="post">
                        {{ form.hidden_tag() }}
                        {{flash_macros.flash_msg()}}
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ form[field_name].label }}错误：</strong> {{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        {% endfor %}
                        <div id="div_id_email" class="form-group"> 
                            <label for="email" class="col-form-label  requiredField">
                                E-mail<span class="asteriskField">*</span> </label>
                            <div class=""> 
                                {{form.email(placeholder="E-mail地址",class="form-control",autofocus="autofocus")}}
                            </div>
                        </div>
                        <div id="div_id_username" class="form-group"> 
                            <label for="username" class="col-form-label  requiredField">
                                用户名<span class="asteriskField">*</span> </label>
                            <div class=""> 
                                {{form.username(class="form-control",placeholder="用户名" )}}
                            </div>
                        </div>
                        <div id="div_id_password1" class="form-group"> 
                            <label for="password" class="col-form-label  requiredField">
                                密码<span class="asteriskField">*</span> </label>
                            <div class=""> 
                                {{form.password(placeholder="密码",class="form-control")}}
                            </div>
                        </div>
                        <div id="div_id_password2" class="form-group"> 
                            <label for="password2" class="col-form-label  requiredField">
                                密码(重复)<span class="asteriskField">*</span> </label>
                            <div class=""> 
                                {{form.password2(placeholder="密码(重复)",class="form-control")}}
                            </div>
                        </div>
                        {% if config.H3BLOG_REGISTER_INVITECODE %}
                        <div id="div_id_code" class="form-group"> 
                            <label for="code" class="col-form-label  requiredField">
                                邀请码<span class="asteriskField">*</span> </label>
                            <div class=""> 
                                {{form.code(class="form-control",placeholder="邀请码" )}}
                            </div>
                        </div>
                        {% endif %}
                        <a class="secondaryAction" href="{{url_for('.login')}}">已有账号登录</a>
                        {{form.submit(class="pull-right btn btn-info btn-sm rounded-2")}}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}