{% extends 'common/base.html' %}
{% import "macros/_patination.html" as page_macros %}
{% block title %}
标签云-{{ super() }}
{% endblock %}
{% block content %}
<!--面包导航-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2 f-15">
        <li class="breadcrumb-item">
            <i class="fa fa-home mr-1"></i><a href="/">首页</a>
        </li>
        <li class="breadcrumb-item">
            在线工具
        </li>
    </ol>
</nav>
<!--end-->

<h1>开发中，敬请期待!!!</h1>

{% endblock %}