<!DOCTYPE html>
<html lang="zh">
    <head>
        <!-- Required meta tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="referrer" content="origin">
        <!-- TDK and ICO -->
        <title>
            {% block title %}
            何三笔记
            {% endblock %}
        </title>
        
        <meta name="description" content="{% block description %}一个专注以技术为中心拓展的python赚钱门道{% endblock %}">
        <meta name="keywords" content="{% block keywords %}flask博客,flask,python爬虫,python基础,博客优化{% endblock %}">
        <!--站长验证-->
        <meta name="baidu-site-verification" content="9chaCtERqG" />
        <meta name="sogou_site_verification" content="uQmFx36O7K"/>
        <meta name="shenma-site-verification" content="1e0fe812667879da041d2ccfb043e487_1582938606"> 
        <meta name="360-site-verification" content="388e8868752fa8bc281794c9c3306453" />
        <meta name="msvalidate.01" content="93B618C424BF8AF3B38E662846EBF1E8" />

        <link rel="shortcut icon" href="{{url_for('main.static',filename='img/favicon.ico')}}" type="image/x-icon"/>
        {% block css %}
        <!-- Bootstrap and font-awesome CSS -->
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{{url_for('main.static',filename='js/headroom.min.js')}}"></script>
        <!-- blog CSS -->
        <link href="{{url_for('main.static',filename='css/blog.css')}}" rel="stylesheet">
        <!--根据cookies判断是否启用暗色主题-->
        {% if request.cookies.get('toggleTheme') == "dark" %}
        <link id="theme-css-dark" href="{{url_for('main.static',filename='css/night.css')}}" rel="stylesheet">
        {% endif %}
        {% endblock %}
    </head>

    <body>
        {% include 'common/header.html' %}
        <main>
        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                    {% block content %}{% endblock %}
                    </div>
                    <div class="col-lg-4">
                    {% include 'common/sidebar.html' %}
                    </div>
                </div>
            </div>
        {% endblock %}
        </main>
        {% include 'common/footer.html' %}
        {% block js %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script>
                $(function(){var myElement=document.querySelector(".blog-navbar");var headroom=new Headroom(myElement);headroom.init()});
            </script>
            
            <script src="{{url_for('main.static',filename='js/js.cookie.min.js')}}"></script>
            <!-- Custom scripts for this template -->
            <script src="{{url_for('main.static',filename='js/blog.js')}}"></script>
            <script type="text/javascript">
                var _hmt = _hmt || [];
                (function() {
                  var hm = document.createElement("script");
                  hm.src = "https://hm.baidu.com/hm.js?1f02ec4e9d769ae54b147d0b288eea96";
                  var s = document.getElementsByTagName("script")[0]; 
                  s.parentNode.insertBefore(hm, s);
                })();

                (function(){
                    var bp = document.createElement('script');
                    var curProtocol = window.location.protocol.split(':')[0];
                    if (curProtocol === 'https') {
                        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                    }
                    else {
                        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                    }
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(bp, s);
                })();
            </script>                
        {% endblock %}
    </body>
</html>
